.task-viewer-atributes {
    background-color: #f3f3fb;
    border-radius: 50px;
    padding: 80px;
}

.task-list-atributes {
    display: flex;
    align-items: flex-start;
    gap: 55px;
    align-self: stretch;
}